.deps
.libs
*.exe
*.gmo
*.gschema.valid
*.la
*.lo
*.o
INSTALL
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
intltool-*.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
macros/*.m4
po/.intltool-merge-cache
po/POTFILES
src/capplet/mate-notification-properties.desktop
src/daemon/notificationdaemon-dbus-glue.h
