sudo: required
services:
  - docker

before_install:
  - curl -L -o docker-build https://github.com/mate-desktop/mate-dev-scripts/raw/master/travis/docker-build
  - chmod +x docker-build
 
install:
  - ./docker-build --name ${DISTRO} --verbose --install

script:
  - ./docker-build --name ${DISTRO} --verbose --build make

env:
  - DISTRO="base/archlinux"
  - DISTRO="debian:sid"
  - DISTRO="fedora:29"
  - DISTRO="ubuntu:18.10"